extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back

  h1= error.message
  h2= error.status

  p Before resuming your normal activity, please enjoy this landscape!
  img.thumbnail(src='../images/error404.jpg')

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back

  p= error.stack
